**Intro**

In the following notebook, I will be creating a churn predictor for our bank

**Read in libraries**

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Set Notebook Preferences**

In [15]:
#Set plot style
plt.style.use('Solarize_Light2')

#Set path to draw_data
path = r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Bank Churn Analysis\Data\02_Cleaned_Data'

**Read in data**

In [16]:
df = pd.read_csv(path + '/2020_0720_Cleaned_Churn_Date.csv')

## Data Overview

**Preview data**

In [17]:
#Display data shape and head
print('Data shape:', df.shape)
display(df.head())

Data shape: (10000, 12)

,Unnamed: 0,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
0,0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

**About the data - Info**

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10000 non-null  int64
 1   creditscore      10000 non-null  int64
 2   geography        10000 non-null  object
 3   gender           10000 non-null  int64
 4   age              10000 non-null  int64
 5   tenure           10000 non-null  int64
 6   balance          10000 non-null  float64
 7   numofproducts    10000 non-null  int64
 8   hascrcard        10000 non-null  int64
 9   isactivemember   10000 non-null  int64
 10  estimatedsalary  10000 non-null  float64
 11  exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(1)
memory usage: 937.6+ KB

**About the data - Description Statistics**

In [19]:
df.describe()

,Unnamed: 0,creditscore,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,4999.50000,650.528800,0.545700,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,96.653299,0.497932,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,0.00000,350.000000,0.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2499.75000,584.000000,0.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,4999.50000,652.000000,1.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7499.25000,718.000000,1.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,9999.00000,850.000000,1.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

# Machine Learning

## Prepare data

**Split data**

In [25]:
#Read in library
from sklearn.model_selection import train_test_split

#Seperate train/test data from target
X = df.drop('exited', axis = 1)
y = df.exited

#Split into training and test data
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42,test_size =0.2,shuffle = False )

#Check
print('Training data shape:{} Label shape:{}'.format(X_train.shape, y_train.shape))
print('Test data shape:{} Label shape:{}'.format(X_test.shape, y_test.shape))

Training data shape:(8000, 11) Label shape:(8000,)
Test data shape:(2000, 11) Label shape:(2000,)

## Develop Preprocessing Pipeline